# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -a -ldflags '-extldflags "-static" -s -w' -trimpath -o dist/m3u8-downloader.exe

    - name: Upload GitHub Release Artifacts
      uses: Shopify/upload-to-release@1.0.0
      with:
        name: "m3u8-downloader"
        path: "dist/m3u8-downloader.exe"
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        content-type: application/octet-stream
